
/*============================================================
 +-+-+-+-+-+-+
 |h|e|a|d|e|r|
 +-+-+-+-+-+-+

*
*/
header{
	display: block;
    background: white;
    margin-left: -15px;
    margin-right: -15px;
    
}

nav.main_menu{
    display: inline-block;
	vertical-align: top;    
}

nav.main_menu ul li{
    display: inline-block;
    padding-right: 20px;
    padding-top: 41px;
    
}

nav.main_menu ul li a{
    text-transform: uppercase;
   /* border-bottom: 2px solid black;
    padding-bottom: 3px;*/
    font-weight: 500;
}


a.brand_logo img{
    margin: 10px;
    margin-top: 10px;
    height: 64px;
    width: auto;
}

a.brand_logo{
    display: inline-block;
    height: 64px;
}

/*========================*/
/*	BACK OFFICE           */
/*======================= */
.container.back-office header{
	display: inline-block;
    width: 20%;
}

.container.back-office nav.main_menu{
    display: block;
	background: lightgrey;
	vertical-align: top;
   
}

.container.back-office nav.main_menu ul.back-office, .container.back-office nav.main_menu ul.menu-main {
    background: #F8F8F8;
    padding-left: 0;
    
}


.container.back-office nav.main_menu ul.back-office li,.container.back-office nav.main_menu ul.menu-main li{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px #DDDDDD;
    border-right: solid 1px #DDDDDD;
}

.container.back-office nav.main_menu ul.back-office li:hover,.container.back-office nav.main_menu ul.menu-main li:hover {
    background: #DDE8ED;
}

.container.back-office nav.main_menu ul.back-office li a,.container.back-office nav.main_menu ul.menu-main li a {
    text-decoration: none;
    color: #008CBA;
}

/*.container.back-office nav.main_menu ul li{
    display: inline-block;
   
    padding-right: 20px;
}*/